.root
{
    width: 350px;
    padding: 10px;

    background-color: rgba(25,25,25,0.9);

    flex-direction: column;
}

.section-title
{
    margin-top: 10px;
    margin-bottom: 5px;

    font-size: 16px;

    unity-font-style: bold;
}

Slider
{
    margin-bottom: 10px;
}

Toggle
{
    margin-bottom: 8px;
}